<h3 class="title">
  Estudiantes
</h3>
<table class="table is-striped is-fullwidth is-hoverable">
  <tbody>
    <tr *ngFor = "let estudiante of estudiantes">
      <td> {{estudiante.dni}} </td>
      <td> {{estudiante.apellidos}} </td>
      <td> {{estudiante.nombre}} </td>
      <td> {{estudiante.sexo}} </td>
      
      <td *ngIf='estudiante.grado_actual == "primero"'> Primero - {{estudiante.referencia['primero'].seccion}} </td>
      <td *ngIf='estudiante.grado_actual == "segundo"'> Segundo - {{estudiante.referencia['segundo'].seccion}} </td>
      <td *ngIf='estudiante.grado_actual == "tercero"'> Tercero - {{estudiante.referencia['tercero'].seccion}} </td>
      <td *ngIf='estudiante.grado_actual == "cuarto"'> Cuarto - {{estudiante.referencia['cuarto'].seccion}} </td>
      <td *ngIf='estudiante.grado_actual == "quinto"'> Quinto - {{estudiante.referencia['quinto'].seccion}} </td>
      

    </tr>
  </tbody>
</table>
