<h3 class="title">
  Estudiantes
</h3>

<div class="columns">
  <div class="column is-half is-offset-one-quarter">
      <div class="field is-horizontal">
          <div class="field-label ">
            <label class="label"> Buscar </label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" [(ngModel)]="est_buscar" name="familia_buscar" 
                (keyup)="buscarEstudiante($event)" >
              </div>
            </div>
          </div>
        </div>
  </div>
</div>

<table class="table is-striped is-fullwidth is-hoverable">
  <tbody>
    <tr *ngFor = "let estudiante of estudiantes">
      <td> {{estudiante.familia.codigo }}</td>
      <td> {{estudiante.dni}} </td>
      <td *ngIf='estudiante.referencia.primero && estudiante.referencia.primero.year == yearActual'> Primero - {{estudiante.referencia['primero'].seccion}} </td>
      <td *ngIf='estudiante.referencia.segundo && estudiante.referencia.segundo.year == yearActual'> Segundo - {{estudiante.referencia['segundo'].seccion}} </td>
      <td *ngIf='estudiante.referencia.tercero && estudiante.referencia.tercero.year == yearActual'> Tercero - {{estudiante.referencia['tercero'].seccion}} </td>
      <td *ngIf='estudiante.referencia.cuarto && estudiante.referencia.cuarto.year == yearActual'> Cuarto - {{estudiante.referencia['cuarto'].seccion}} </td>
      <td *ngIf='estudiante.referencia.quinto && estudiante.referencia.quinto.year == yearActual'> Quinto - {{estudiante.referencia['quinto'].seccion}} </td>
      <td> {{estudiante.apellidos}}, {{estudiante.nombre}} </td>
      
      <td> {{estudiante.sexo}} </td>
      
      
      
      <td> <a [routerLink] =  "['', {outlets: { 'popup':['estudiante','editar',estudiante._id] } }]" >
        <fa name="edit" size='2x'></fa></a> 
      </td>
      <td>
        <a [routerLink] =  "['', {outlets: { 'popup':['estudiante',estudiante._id, estudiante.nombre]}}]" 
          > <fa name="cog" size="2x"></fa>  </a> 
      </td>
      <td>
        <a [routerLink] =  "['', {outlets: { 'popup':['estudiante','carne',estudiante._id] } }]"
          > <fa name="print" size="2x"></fa>  </a>
      </td>
      <td>
       <a [routerLink] =  "['', {outlets: { 'popup':['estudiante','eliminar',estudiante._id,estudiante.nombre]}}]"
          > <fa name="trash" size='2x'></fa>  </a>
      </td>
           
      <td> <a [routerLink] =  "['/estudiante/',estudiante._id]" >
        <fa name="user" size='2x'></fa></a> 
      </td>
      <td> <a [routerLink] =  "['/familia/',estudiante.familia._id]" >
        <fa name="users" size='2x'></fa></a> 
      </td>
      
    </tr>
  </tbody>
</table>
