<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
      <article class="message is-danger is-medium">
          <div class="message-header">
            <p>Confirma ratificar al Estudiante </p>
            
          </div>
          <div class="message-body">
              <button class="button is-success" (click)="ratificarEstudiante()"> Ratificar</button>
              <button class="button" (click)="closepopup()">Cancelar</button>
          </div>
        </article>
    </div>
</div>