<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"> Eliminar Estudiante  </p>
      <button class="delete" aria-label="close" (click)="closepopup()"> </button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <p class="notification is-info " >  ¿ Desea eliminar al estudiante: {{nombre}} ? </p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="eliminarEstudiante()"> Eliminar</button>
      <button class="button" (click)="closepopup()">Cancelar</button>
  </footer>
</div>
</div>