<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"> Eliminar Familia {{carpeta}}  </p>
      <button class="delete" aria-label="close" (click)="closepopup()"> </button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <p class="notification is-danger " >  ¿ Desea eliminar la familia: {{carpeta}} ?  <br>
          Tambien se eliminara a los estudiantes que pertenecen a esta familia
      </p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="eliminarFamilia()"> Eliminar</button>
      <button class="button" (click)="closepopup()">Cancelar</button>
  </footer>
</div>
</div>