<div class="columns no-print-area">
  <div class="column">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Grado: </label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <div class="select is-fullwidth">
              <select [(ngModel)] = "grado">
                <option *ngFor="let grado of grados" [ngValue]="grado.name">{{grado.name|uppercase}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Sección: </label>
      </div>
      <div class="field-body">
        <div class="field ">
          <div class="control">
            <div class="select is-fullwidth">
              <select [(ngModel)] = "seccion">
                <option *ngFor="let seccion of secciones" [ngValue]="seccion.name">{{seccion.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Mes a buscar -->
  <div class="column">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Mes: </label>
      </div>
      <div class="field-body">
        <div class="field ">
          <div class="control">
            <div class="select is-fullwidth">
              <select [(ngModel)] = "mes">
                <option *ngFor="let mes of meses" [ngValue]="mes.value">{{mes.name|uppercase}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <a class="button is-fullwidth" (click)=getAsistencia()> Buscar </a>
  </div>
</div>


  
  <table *ngIf = "asistencias" class="table is-fullwidth is-striped">
    <thead>
      <tr>
        <th> N°</th>
        <th> <span> Apellidos y</span><br>
          <span>Nombres</span> </th>
          <th *ngFor = "let dia of fechas"> 
            <span class="is-small">{{dia |date:"dd"}}</span><br>
            <span class="is-small">{{returnDia(dia)}}</span>
          </th>
          <th > <span class="has-text-success has-text-weight-bold"> P </span> </th>
          <th> <span class="has-text-tarde has-text-weight-bold"> T </span></th>
          <th> <span class="has-text-danger has-text-weight-bold"> F </span></th>
        </tr>
      </thead>
      
      <tr *ngFor = "let estudiante of asistencias; let i = index">
        <td>{{i+1}}</td>
        <td><span class="is-small"> {{estudiante.apellidos}},{{ estudiante.nombre }} </span> </td>
        <td *ngFor = "let diaReport of estudiante.asistencias" > 
          <span class="{{is_color_reporte(diaReport.resumen.reporte)}}" >{{diaReport.resumen.reporte}} </span>
        </td>
        <td class="has-text-success has-text-weight-bold">{{resumen[i][0]}}</td>
        <td class="has-text-tarde has-text-weight-bold">{{resumen[i][1]}}</td>
        <td  class="has-text-danger has-text-weight-bold">{{resumen[i][2]}}</td>
        
      </tr>
    </table>
    
    <p *ngIf = "!estudiantes && !fechas" class="title"> SIN DATOS </p>