<h2 class="title"> Registro de Familia  </h2>

<div class="columns">
  <div class="column is-1">

  </div>
  <div class="column is-5">

      <h3 class="subtitle">
        Madre de familia
      </h3>
        
    <!-- formulario para el registro de la madre-->    
    <form #MadreForm ="ngForm"   (ngSubmit)="regMadre()">
      
      <div class="field is-horizontal">
        <div class="field-label ">
          <label class="label">Dni: </label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" type="text" id="dni"  required
              [(ngModel)] ="madre.dni" name="dni" #dni="ngModel" >
            </div>
          </div>
        </div>
      </div>
      

      <div class="field is-horizontal">
        <div class="field-label ">
          <label class="label">Apellidos: </label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" type="text" id="apellidos"  required
              [(ngModel)] ="madre.apellidos" name="apellidos" #apellidos="ngModel" >
            </div>
          </div>
        </div>
      </div>
      
      <div class="field is-horizontal">
        <div class="field-label ">
          <label class="label">Nombres: </label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" type="text" id="nombres"  required
              [(ngModel)] ="madre.nombre" name="nombre" #nombre="ngModel" >
            </div>
          </div>
        </div>
      </div>
      
      <div class="field is-horizontal">
        <div class="field-label ">
          <label class="label">Celular: </label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" type="text" id="celular"  required
              [(ngModel)] ="madre.celular" name="celular" #celular="ngModel" >
            </div>
          </div>
        </div>
      </div>
      
      <div class="field is-horizontal">
        <div class="field-label ">
          <label class="label">Direccion: </label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" type="text" id="direccion"  required
              [(ngModel)] ="madre.direccion" name="direccion" #direccion="ngModel" >
            </div>
          </div>
        </div>
      </div>
      
      
      <div class="field is-horizontal">
          <div class="field-label ">
            <label class="label">Nota:</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <textarea class="textarea" id="Nota" required 
                  [(ngModel)]="madre.nota" name="nota" #nota="ngModel">
                </textarea>
              </div>
            </div>
          </div>
        </div>

        <!-- Rutas posibles para continuar el registro-->
        <div class="field is-horizontal">
          <div class="field-label ">
            <label class="label">Registrar(+):</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <label  *ngIf="detalles.madre" class="radio">
                  <input type="radio" [(ngModel)]="ruta_registro" name="ruta_registro" 
                      value="madre"> 
                  Madre
                </label>
                <label *ngIf = "detalles.padre" class="radio">
                  <input type="radio" [(ngModel)]="ruta_registro" name="ruta_registro" 
                  value="padre" >  
                  Padre
                </label>
                <label *ngIf = "detalles.apoderado" class="radio">
                  <input type="radio" [(ngModel)]="ruta_registro" name="ruta_registro" 
                      value="apoderado"> 
                  Apoderado
                </label>
                <label  class="radio" >
                  <input type="radio" [(ngModel)] = "ruta_registro" name="ruta_registro"
                    value="estudiante">
                    Estudiante
                </label>
              </div>
            </div>
          </div>
        </div>

      
      <div class="field is-horizontal">
        <div class="field-label">
          <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
                <button class="button is-primary" type="submit"   >
                  >> Continuar
                </button>
            </div>
          </div>
        </div>
      </div>
      


    </form>
    <!--fin del formulario-->

  
  </div>
  <div class="column is-6">
    <app-resumen> </app-resumen>
  </div>
</div>