<h1 class="title"> ADMINISTRACION DE SISTEMA </h1>

<div class="columns">
  <div class="column">
    <h2 class="sub-title"> MANTENIMIENTO DE SISTEMA </h2>
    
    <div class="buttons">
      <a class="button is-fullwidth" (click)="mantenimiento_base_datos()"> Base de datos </a> <br>
      <a class="button is-fullwidth"> Familia </a> <br>
      <a class="button is-fullwidth"> Estudiante  </a> 
    </div>
  </div>

  <div class="column">
    <h2 class="sub-title"> IMAGENES  </h2>
      <div class="buttons">
        <a class="button is-fullwidth"> Encabezado </a> 
        <a class="button is-fullwidth"> Pie de pagina </a> <br>
        <a class="button is-fullwidth"> Carné de estudiante</a>
      </div>
  </div>

  <div class="column">
    <h2 class="sub-title"> Dias laborados </h2>
    <div class="buttons">
      <div class="button is-fullwidth"> Verificar </div>
      <div class="button is-fullwidth"> Eliminar </div >
    </div>
  </div>

</div>

