
<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"> {{estudiante.apellidos}}, {{estudiante.nombre}}</p>
      <button class="delete" aria-label="close" (click)="closepopup()" ></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... 
      -->
      
      <table class="table is-striped is-fullwidth is-hoverable ">
          <thead>
            <tr>
              <th> N° </th>
              <th> Fecha </th>
              <th> Entrada </th>
              <th> Almuerzo </th>
              <th> Estado </th>
            </tr>
          </thead>
        <tbody>
          <tr *ngFor = "let asistencia of asistencias; let i= index">
            <td>{{i+1}} </td>
            <td>{{asistencia.fecha|date:'MMM - dd ' }} </td>
            <td *ngIf = "asistencia.entrada">{{asistencia.entrada |date:'hh:mm:ss'}}</td>
            <td *ngIf = "!asistencia.entrada"> -- </td>
            <td *ngIf ="asistencias.almuerzo && asistencia.almuerzo.entrada">{{asistencia.almuerzo.entrada}}</td>
            <td *ngIf ="!asistencias.almuerzo ||  !asistencia.almuerzo.entrada"> -- </td>
            <td > {{asistencia.resumen.reporte}}</td>
          </tr>
        </tbody>
        </table>
    </section>
    <footer class="modal-card-foot">
      <a class="button is-danger" (click)="closepopup()"> Cerrar </a>
      <a class="button is-success" (click) = "verEstudiante()">Ver Estudiante</a>
    </footer>
  </div>
</div>
