<h4 class="subtitle"> 
  {{familia.carpeta}} -- {{familia.codigo}}
</h4>
<ul class="list">
  <li class="list-item" *ngIf="familia.madre"> 
    <h5 class="subtitle"> Madre</h5>
    {{familia.madre.dni}} - {{familia.madre.apellidos}}, {{familia.madre.nombre}} 
  </li>
  <li class="list-item" *ngIf="familia.padre"> 
      <h5 class="subtitle"> Padre</h5>
      {{familia.padre.dni}} - {{familia.padre.apellidos}}, {{familia.padre.nombre}} 
  </li>
  <li class="list-item" *ngIf="familia.apoderado"> 
      <h5 class="subtitle"> apoderado</h5>
      {{familia.apoderado.dni}} - {{familia.apoderado.apellidos}}, {{familia.apoderado.nombre}} 
  </li>
</ul> 