
<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Cambiar grado y seccion de {{nombre}}</p>
      <button class="delete" aria-label="close" (click)="closepopup()"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <div class="columns">
        <div class="column">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Grado: </label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select [(ngModel)] = "grado">
                      <option *ngFor="let grado of grados" [ngValue]="grado.name">{{grado.name|uppercase}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Sección: </label>
            </div>
            <div class="field-body">
              <div class="field ">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select [(ngModel)] = "seccion">
                      <option *ngFor="let seccion of secciones" [ngValue]="seccion.name">{{seccion.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="cambiarGradoSeccion()">Guardar Cambios</button>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div>