<h2 class="title"> Referencia de estudios en secundaria </h2>
<div class="columns">
  <div *ngIf="estref.primero || estref.segundo || estref.tercero || estref.cuarto || estref.quinto" class="column "> 
    <div  class="card">
      <header class="card-header">
        <div class="card-header-title"> PRIMERO </div>
      </header>
      <div *ngIf="!estref.primero" class="card-content"> No se tine registro </div>
      <div *ngIf="estref.primero" class="card-content"> 
        <ul> 
          <li> Seccion: {{estref.primero.seccion}} </li>
          <li> Año:{{estref.primero.year }} </li>
          <li> Puntos: {{estref.primero.puntos }} </li>
          <li> Promedio: {{estref.primero.promedio }} </li>
          <li *ngIf="estref.primero.colegio"> Colegio: {{ estref.primero.colegio.nombre}}</li>
          <li *ngIf="estref.primero.colegio"> Codigo: {{ estref.primero.colegio.codigo}}</li>
        </ul>
      </div>
      
      <footer class="card-footer">
        <a href="#" class="card-footer-item">Editar</a>  
      </footer>
    </div>
  </div>

  <!-- segundo de secundaria -->
  <div *ngIf="estref.segundo || estref.tercero || estref.cuarto || estref.quinto" class="column">
      <div  class="card">
          <header class="card-header">
            <div class="card-header-title"> SEGUNDO </div>
          </header>
          <div *ngIf="!estref.segundo" class="card-content"> No se tine registro </div>
          <div *ngIf="estref.segundo" class="card-content"> 
            <ul> 
              <li> Seccion: {{estref.segundo.seccion}} </li>
              <li> Año:{{estref.segundo.year }} </li>
              <li> Puntos: {{estref.segundo.puntos }} </li>
              <li> Promedio: {{estref.segundo.promedio }} </li>
              <li *ngIf="estref.segundo.colegio"> Colegio: {{ estref.segundo.colegio.nombre}}</li>
              <li *ngIf="estref.segundo.colegio"> Codigo: {{ estref.segundo.colegio.codigo}}</li>
            </ul>
          </div>
          
          <footer class="card-footer">
            <a href="#" class="card-footer-item">Editar</a>  
          </footer>
        </div>
  </div>
  <!-- tercero de secundaria -->
  <div *ngIf="estref.tercero || estref.cuarto || estref.quinto" class="column">
      <div  class="card">
          <header class="card-header">
            <div class="card-header-title"> TERCERO </div>
          </header>
          <div *ngIf="!estref.tercero" class="card-content"> No se tine registro </div>
          <div *ngIf="estref.tercero" class="card-content"> 
            <ul> 
              <li> Seccion: {{estref.tercero.seccion}} </li>
              <li> Año:{{estref.tercero.year }} </li>
              <li> Puntos: {{estref.tercero.puntos }} </li>
              <li> Promedio: {{estref.tercero.promedio }} </li>
              <li *ngIf="estref.tercero.colegio"> Colegio: {{ estref.terero.colegio.nombre}}</li>
              <li *ngIf="estref.tercero.colegio"> Codigo: {{ estref.tercero.colegio.codigo}}</li>
            </ul>
          </div>
          
          <footer class="card-footer">
            <a href="#" class="card-footer-item">Editar</a>  
          </footer>
        </div>
  </div>
  <!-- Cuarto de secundaria -->
  <div *ngIf="estref.cuarto || estref.quinto" class="column">
      <div  class="card">
          <header class="card-header">
            <div class="card-header-title"> CUARTO </div>
          </header>
          <div *ngIf="!estref.cuarto" class="card-content"> No se tine registro </div>
          <div *ngIf="estref.cuarto" class="card-content"> 
            <ul> 
              <li> Seccion: {{estref.cuarto.seccion}} </li>
              <li> Año:{{estref.cuarto.year }} </li>
              <li> Puntos: {{estref.cuarto.puntos }} </li>
              <li> Promedio: {{estref.cuarto.colegio }} </li>

              
              <li *ngIf="estref.cuarto.colegio"> Colegio: {{ estref.primero.colegio.nombre}}</li>
              <li *ngIf="estref.primero.colegio"> Codigo: {{ estref.primero.colegio.codigo}}</li>
            </ul>
          </div>
          
          <footer class="card-footer">
            <a href="#" class="card-footer-item">Editar</a>  
          </footer>
        </div>
  </div>
  <!-- quinto de secundaria -->
  <div *ngIf="estref.quinto" class="column"> auto</div>
</div>
