<h3 class="subtitle is-3 is-centered"> PRIMERO</h3>
<div class="columns" *ngIf="reporte">
  <div class="column">
    <article class="message is-info">
        <div class="message-header">
          <p class="is-size-5"> A </p>
        </div>
        <div class="message-body">
            <p class="notification is-success is-size-5"> {{reporte.primero.a.puntual}}</p>
            <p class="notification is-warning is-size-5">{{reporte.primero.a.tarde}}</p>
            <p class="notification is-danger is-size-5">{{reporte.primero.a.falta}}</p>
            <p class="notification is-danger is-size-5">{{reporte.primero.a.evasion}}</p>
            <p class="notification is-info is-size-5">{{reporte.primero.a.licencia}}</p>
        </div>
    </article> 
  </div>

  <div class="column">
    <article class="message is-info">
      <div class="message-header">
        <p class="is-size-5"> B </p>
      </div>
      <div class="message-body">
          <p class="notification is-success is-size-5">{{reporte.primero.b.puntual}}</p>
          <p class="notification is-warning is-size-5">{{reporte.primero.b.tarde}}</p>
          <p class="notification is-danger is-size-5">{{reporte.primero.b.falta}}</p>
          <p class="notification is-danger is-size-5">{{reporte.primero.b.evasion}}</p>
          <p class="notification is-info is-size-5">{{reporte.primero.b.licencia}}</p>
      </div>
    </article> 
  </div>

  <div class="column">
    <article class="message is-info">
      <div class="message-header">
        <p class="is-size-5"> C </p>
      </div>
      <div class="message-body">
        <p class="notification is-success is-size-5">{{reporte.primero.c.puntual}}</p>
        <p class="notification is-warning is-size-5">{{reporte.primero.c.tarde}}</p>
          <p class="notification is-danger is-size-5">{{reporte.primero.c.falta}}</p>
          <p class="notification is-danger is-size-5">{{reporte.primero.c.evasion}}</p>
          <p class="notification is-info is-size-5">{{reporte.primero.c.licencia}}</p>
      </div>
    </article> 
  </div>
  <div class="column">
    <article class="message is-info">
      <div class="message-header">
        <p class="is-size-5"> D </p>
      </div>
      <div class="message-body">
        <p class="notification is-success is-size-5">{{reporte.primero.d.puntual}}</p>
        <p class="notification is-warning is-size-5">{{reporte.primero.d.tarde}}</p>
          <p class="notification is-danger is-size-5">{{reporte.primero.d.falta}}</p>
          <p class="notification is-danger is-size-5">{{reporte.primero.d.evasion}}</p>
          <p class="notification is-info is-size-5">{{reporte.primero.d.licencia}}</p>
      </div>
    </article> 
  </div>

  <div class="column">
    <article class="message is-info">
      <div class="message-header">
        <p class="is-size-5"> E </p>
      </div>
      <div class="message-body">
        <p class="notification is-success is-size-5">{{reporte.primero.e.puntual}}</p>
        <p class="notification is-warning is-size-5">{{reporte.primero.e.tarde}}</p>
          <p class="notification is-danger is-size-5">{{reporte.primero.e.falta}}</p>
          <p class="notification is-danger is-size-5">{{reporte.primero.e.evasion}}</p>
          <p class="notification is-info is-size-5">{{reporte.primero.e.licencia}}</p>
      </div>
    </article> 
  </div>

  <div class="column">
    <article class="message is-info">
      <div class="message-header">
        <p class="is-size-5"> F </p>
      </div>
      <div class="message-body">
        <p class="notification is-success is-size-5">{{reporte.primero.f.puntual}}</p>
        <p class="notification is-warning is-size-5">{{reporte.primero.f.tarde}}</p>
          <p class="notification is-danger is-size-5">{{reporte.primero.f.falta}}</p>
          <p class="notification is-danger is-size-5">{{reporte.primero.f.evasion}}</p>
          <p class="notification is-info is-size-5">{{reporte.primero.f.licencia}}</p>
      </div>
    </article> 
  </div>
  <div class="column">
    <article class="message is-info">
      <div class="message-header">
        <p class="is-size-5"> G </p>
      </div>
      <div class="message-body">
        <p class="notification is-success is-size-5">{{reporte.primero.g.puntual}}</p>
        <p class="notification is-warning is-size-5">{{reporte.primero.g.tarde}}</p>
          <p class="notification is-danger is-size-5">{{reporte.primero.g.falta}}</p>
          <p class="notification is-danger is-size-5">{{reporte.primero.g.evasion}}</p>
          <p class="notification is-info is-size-5">{{reporte.primero.g.licencia}}</p>
      </div>
    </article> 
  </div>
  <div class="column">
    <article class="message is-info">
      <div class="message-header">
        <p class="is-size-5"> H </p>
      </div>
      <div class="message-body">
        <p class="notification is-success is-size-5">{{reporte.primero.h.puntual}}</p>
        <p class="notification is-warning is-size-5">{{reporte.primero.h.tarde}}</p>
          <p class="notification is-danger is-size-5">{{reporte.primero.h.falta}}</p>
          <p class="notification is-danger is-size-5">{{reporte.primero.h.evasion}}</p>
          <p class="notification is-info is-size-5">{{reporte.primero.h.licencia}}</p>
      </div>
    </article> 
  </div>  
</div>

<!--segundo de secundaria-->
<h3 class="subtitle is-3 is-centered"> SEGUNDO</h3>
<div class="columns" *ngIf="reporte">
  <div class="column">
    <article class="message is-info">
        <div class="message-header">
          <p class="is-size-5"> A </p>
        </div>
        <div class="message-body">
            <p class="notification is-success is-size-5"> {{reporte.segundo.a.puntual}}</p>
            <p class="notification is-warning is-size-5">{{reporte.segundo.a.tarde}}</p>
            <p class="notification is-danger is-size-5">{{reporte.segundo.a.falta}}</p>
            <p class="notification is-danger is-size-5">{{reporte.segundo.a.evasion}}</p>
            <p class="notification is-info is-size-5">{{reporte.segundo.a.licencia}}</p>
        </div>
    </article> 
  </div>

  <div class="column">
    <article class="message is-info">
      <div class="message-header">
        <p class="is-size-5"> B </p>
      </div>
      <div class="message-body">
          <p class="notification is-success is-size-5">{{reporte.segundo.b.puntual}}</p>
          <p class="notification is-warning is-size-5">{{reporte.segundo.b.tarde}}</p>
          <p class="notification is-danger is-size-5">{{reporte.segundo.b.falta}}</p>
          <p class="notification is-danger is-size-5">{{reporte.segundo.b.evasion}}</p>
          <p class="notification is-info is-size-5">{{reporte.segundo.b.licencia}}</p>
      </div>
    </article> 
  </div>

  <div class="column">
    <article class="message is-info">
      <div class="message-header">
        <p class="is-size-5"> C </p>
      </div>
      <div class="message-body">
        <p class="notification is-success is-size-5">{{reporte.segundo.c.puntual}}</p>
        <p class="notification is-warning is-size-5">{{reporte.segundo.c.tarde}}</p>
          <p class="notification is-danger is-size-5">{{reporte.segundo.c.falta}}</p>
          <p class="notification is-danger is-size-5">{{reporte.segundo.c.evasion}}</p>
          <p class="notification is-info is-size-5">{{reporte.segundo.c.licencia}}</p>
      </div>
    </article> 
  </div>
  <div class="column">
    <article class="message is-info">
      <div class="message-header">
        <p class="is-size-5"> D </p>
      </div>
      <div class="message-body">
        <p class="notification is-success is-size-5">{{reporte.segundo.d.puntual}}</p>
        <p class="notification is-warning is-size-5">{{reporte.segundo.d.tarde}}</p>
          <p class="notification is-danger is-size-5">{{reporte.segundo.d.falta}}</p>
          <p class="notification is-danger is-size-5">{{reporte.segundo.d.evasion}}</p>
          <p class="notification is-info is-size-5">{{reporte.segundo.d.licencia}}</p>
      </div>
    </article> 
  </div>

  <div class="column">
    <article class="message is-info">
      <div class="message-header">
        <p class="is-size-5"> E </p>
      </div>
      <div class="message-body">
        <p class="notification is-success is-size-5">{{reporte.segundo.e.puntual}}</p>
        <p class="notification is-warning is-size-5">{{reporte.segundo.e.tarde}}</p>
          <p class="notification is-danger is-size-5">{{reporte.segundo.e.falta}}</p>
          <p class="notification is-danger is-size-5">{{reporte.segundo.e.evasion}}</p>
          <p class="notification is-info is-size-5">{{reporte.segundo.e.licencia}}</p>
      </div>
    </article> 
  </div>

  <div class="column">
    <article class="message is-info">
      <div class="message-header">
        <p class="is-size-5"> F </p>
      </div>
      <div class="message-body">
        <p class="notification is-success is-size-5">{{reporte.segundo.f.puntual}}</p>
        <p class="notification is-warning is-size-5">{{reporte.segundo.f.tarde}}</p>
          <p class="notification is-danger is-size-5">{{reporte.segundo.f.falta}}</p>
          <p class="notification is-danger is-size-5">{{reporte.segundo.f.evasion}}</p>
          <p class="notification is-info is-size-5">{{reporte.segundo.f.licencia}}</p>
      </div>
    </article> 
  </div>
  <div class="column">
    <article class="message is-info">
      <div class="message-header">
        <p class="is-size-5"> G </p>
      </div>
      <div class="message-body">
        <p class="notification is-success is-size-5">{{reporte.segundo.g.puntual}}</p>
        <p class="notification is-warning is-size-5">{{reporte.segundo.g.tarde}}</p>
          <p class="notification is-danger is-size-5">{{reporte.segundo.g.falta}}</p>
          <p class="notification is-danger is-size-5">{{reporte.segundo.g.evasion}}</p>
          <p class="notification is-info is-size-5">{{reporte.segundo.g.licencia}}</p>
      </div>
    </article> 
  </div>
  <div class="column">
    <article class="message is-info">
      <div class="message-header">
        <p class="is-size-5"> H </p>
      </div>
      <div class="message-body">
        <p class="notification is-success is-size-5">{{reporte.segundo.h.puntual}}</p>
        <p class="notification is-warning is-size-5">{{reporte.segundo.h.tarde}}</p>
          <p class="notification is-danger is-size-5">{{reporte.segundo.h.falta}}</p>
          <p class="notification is-danger is-size-5">{{reporte.segundo.h.evasion}}</p>
          <p class="notification is-info is-size-5">{{reporte.segundo.h.licencia}}</p>
      </div>
    </article> 
  </div>  
</div>