table tr, table td, table th  {
  border: 1px solid black;
}


.is-hoverable{
  background-color: #ddd;
}
.nombre{
  font-weight: bolder;
}
.datos{
  font-size: 09pt;
  font-weight: normal;
  text-decoration: none;
}

@media print{
  .no-print-area{
    visibility: hidden;
    width: 0px;
    height: 0px;
    float: left;
  }
}

.boleta-td{
  width: 200px;
}

.boleta{
  font-weight: bold;
  font-size: 13pt;
}

.monto{
  font-size: 15pt;
  font-weight: bolder;
}