
<div class="tabs is-toggle is-centered ">
  <ul>
    <li  class="{{is_active_grado('primero')}}"><a (click)="cambiarGrado('primero')" >PRIMERO</a></li>
    <li class="{{is_active_grado('segundo')}}"><a (click)="cambiarGrado('segundo')">SEGUNDO</a></li>
    <li class="{{is_active_grado('tercero')}}"><a (click)="cambiarGrado('tercero')">TERCERO</a></li>
    <li class="{{is_active_grado('cuarto')}}"><a (click)="cambiarGrado('cuarto')">CUARTO</a></li>
    <li class="{{is_active_grado('quinto')}}"><a (click)="cambiarGrado('quinto')">QUINTO</a></li>
  </ul>
</div>

<div class="tabs is-toggle is-centered ">
  <ul>
    <li class="{{is_active_seccion('A')}}"><a (click)="cambiarSeccion('A')" > A </a></li>
    <li class="{{is_active_seccion('B')}}"><a (click)="cambiarSeccion('B')" > B </a></li>
    <li class="{{is_active_seccion('C')}}"><a (click)="cambiarSeccion('C')" > C </a></li>
    <li class="{{is_active_seccion('D')}}"><a (click)="cambiarSeccion('D')" > D </a></li>
    <li class="{{is_active_seccion('E')}}"><a (click)="cambiarSeccion('E')" > E </a></li>
    <li class="{{is_active_seccion('F')}}"><a (click)="cambiarSeccion('F')" > F </a></li>
    <li class="{{is_active_seccion('G')}}"><a (click)="cambiarSeccion('G')" > G </a></li>
    <li class="{{is_active_seccion('H')}}"><a (click)="cambiarSeccion('H')" > H </a></li>
  </ul>
</div>

<div  class="columns">
  <div class="column is-half is-offset-one-quarter">

    <div class="buttons" > 
      <a (click) = "print_relacion_estudiantes()"
          class="button is-info is-outlined is-medium is-routed has-tooltip-bottom " 
          data-tooltip="Imprimir relacion"> 
          <fa-icon [icon]="faPrint"></fa-icon>
      </a> 
      <a (click) = "print_relacion_estudiantes_familia()"
          class="button is-info is-outlined is-medium is-routed has-tooltip-bottom " 
          data-tooltip="Relacion de padres de familia"> 
          <fa-icon [icon]="faUserPlus"></fa-icon>
      </a>
      <a 
          class="button is-info is-outlined is-medium is-routed has-tooltip-bottom " 
          data-tooltip="Reporte de asistencia"> 
          <fa-icon [icon]="faCalendarCheck"></fa-icon>
      </a>
      <a (click) = "print_formato_entrega_alimentos()"
        class="button is-info is-outlined is-medium is-routed has-tooltip-bottom"
        data-tooltip="Formato Qaliwarma">
        <fa-icon [icon]="faDrumstickBite"></fa-icon>
      </a>

    </div>
  </div>
</div>

<table *ngIf = "estudiantes" class="table is-striped is-fullwidth is-hoverable">
    <thead class="thead">
      <td> N° </td>
      <td>Codigo / DNI</td>
      <td> Celular/Direccion </td>
      <td>Estudiante</td>
      <td>Padres</td>
      <td colspan="6"> Acciones </td>
    </thead>
    <tbody>
      <tr *ngFor = "let estudiante of estudiantes; let i=index">
        <td>{{i+1}} </td>
        <td><p> {{estudiante.familia.codigo }}</p>
            <p> {{estudiante.dni }}</p>
        </td>
        <td>  <p> {{estudiante.celular }}</p>
              <p> {{estudiante.residencia }}</p>
        </td>
        
        <td> 
            <p> 
              <fa-icon [icon]="faMale" *ngIf = "estudiante.sexo == 'masculino'" ></fa-icon>
              <fa-icon [icon]="faFemale" *ngIf = "estudiante.sexo == 'femenino'"></fa-icon>
               {{estudiante.apellidos}}, </p> 
            <p> {{estudiante.nombre}}  </p>
        </td>
        
        <td>
          <p *ngIf ="estudiante.familia.padre"> {{estudiante.familia.padre.apellidos}}, {{estudiante.familia.padre.nombre}}  </p>
          <p *ngIf ="estudiante.familia.madre" > {{estudiante.familia.madre.apellidos}}, {{estudiante.familia.madre.nombre}} </p>
          <p *ngIf ="estudiante.familia.apoderado" > {{estudiante.familia.apoderado.apellidos}}, {{estudiante.familia.apoderado.nombre}} </p>  
        </td>   
        <!-- acciones de usuarios -->
        <td> <a [routerLink] =  "['/estudiante/',estudiante._id]" >
          <fa-icon [icon]="faUser" size="lg"> </fa-icon> </a> 
        </td>
        <td> <a [routerLink] =  "['/familia/',estudiante.familia._id]" >
          <fa-icon [icon]="faUsers" size="lg"> </fa-icon> </a> 
        </td>
        <td> <a [routerLink] =  "['', {outlets: { 'popup':['estudiante','carne',estudiante._id] } }]" > 
          <fa-icon [icon]="faIdCard" size="lg"></fa-icon>  </a>
        </td>
        <td> <a [routerLink] =  "['', {outlets: { 'popup':['estudiante','editar',estudiante._id] } }]" >
          <fa-icon [icon]="faUserEdit" size="lg"> </fa-icon> </a> 
        </td>
        <td> <a [routerLink] =  "['', {outlets: { 'popup':['estudiante',estudiante._id, estudiante.nombre]}}]"> 
          <fa-icon [icon]="faUserCog" size="lg"> </fa-icon>  </a> 
        </td>
        <td> <a [routerLink] =  "['', {outlets: { 'popup':['estudiante','eliminar',estudiante._id,estudiante.nombre]}}]" >   
          <fa-icon [icon]="faTrash" size="lg"></fa-icon> </a>
        </td>
               
          

      </tr>
    </tbody>
  </table>