
<h2 class="title"> {{ familia.carpeta }}  ::  {{familia.codigo }}  </h2> 

<div class="columns">
  <!--  resumen de la familia-->
  <div class="column">
      <div class="card">
        <header class="card-header">
          <div class="card-header-title">
            Resumen
          </div>
        </header>
        <div class="card-content">
          <!-- Informarcion basica -->
          <div class="card">
            <header class="card-header">
              <div class="card-header-title">
                Información Basica
              </div>
            </header>
            <section class="card-content">
              <ul class="list"> 
                <li class="list-item"> Codigo   : {{familia.codigo }}</li>
                <li class="list-item"> Carpeta  : {{familia.carpeta }}</li>
                <li class="list-item"> Direccion : {{familia.direccion }}</li>
                <li class="list-item"> Estado : {{familia.estado  }}</li>
                <li class="list-item"> Observaciones :{{familia.observaciones}}</li>
              </ul>
            </section>

            <footer class="card-footer">
               <a  class="card-footer-item"  
                    [routerLink] =  "['', {outlets: { 'popup':['familia','editar',familia._id] } }]" >
                    <fa name="edit" size='2x'></fa> Editar
                </a> 
                <a  class="card-footer-item"  
                    [routerLink] =  "['', {outlets: { 'popup':['familia','eliminar',familia._id, familia.carpeta ] } }]" >
                    <fa name="trash" size='2x'></fa> Eliminar
                </a>       
            </footer>
          </div>
          <!-- documentos -->
          <div  class="card">
            <header class="card-header">
              <div class="card-header-title">
                Documentos
              </div>
            </header>
            <div *ngIf="familia.documentos" class="card-content">
              <ul class="list">              
                <li class="list-item" *ngIf="familia.documentos.folder" > Folder <fa name="check"></fa></li>
                <li class="list-item" *ngIf="!familia.documentos.folder" >
                  <p class="notification is-danger"> Falta folder <fa name="times"></fa> </p>
                </li>

                <li class="list-item" *ngIf="familia.documentos.cdnipadre" > Copia DNI Padre <fa name="check"></fa></li>
                <li class="list-item" *ngIf="!familia.documentos.cdnipadre && familia.padre" > 
                  <p class="notification is-danger"> Falta copia DNI del Padre <fa name="times"></fa></p>
                </li>
                
                <li class="list-item" *ngIf="familia.documentos.cdnimadre" > Copia DNI Madre <fa name="check"></fa></li>
                <li class="list-item" *ngIf="!familia.documentos.cdnimadre && familia.madre" > 
                  <p class="notification is-danger"> Falta copia DNI de la Madre <fa name="times"></fa></p>
                </li>
            
                <li class="list-item" *ngIf="familia.documentos.cdniapoderado" > Copia DNI  Apoderado <fa name="check"></fa></li>
                <li class="list-item" *ngIf="!familia.documentos.cdniapoderado && familia.apoderado" > 
                  <p class="notification is-danger"> Falta copia DNI del Apoderado <fa name="times"></fa> </p>
                </li>

                <li class="list-item" *ngIf="familia.documentos.djurada" >Declaracion Jurada <fa name="check"></fa> </li>
                <li class="list-item" *ngIf="!familia.documentos.djurada" >
                  <p class="notification is-danger">Falta declaracion Jurada <fa name="times"></fa></p>
                </li>
              </ul>
            </div>

            <div *ngIf="!familia.documentos" class="card-content">
              <p class="notification is-danger">No se tiene documentos </p>
            </div>
            <div class="card-footer">
              <a  class="card-footer-item"  
                [routerLink] =  "['', {outlets: { 'popup':['familia','documentos',familia._id] }}]" >
                <fa name="edit" size='2x'></fa> Editar
              </a>
            </div>
          </div>
          <!-- documentos -->
        </div>
      </div>
  </div>

  <!--  padre, madre apoderador -->
  <div class="column">
    <div class="card">
      <header class="card-header"> 
        <div class="card-header-title">
          Reponsables de la familia
        </div>
      </header>
      <section class="card-content">
        <!-- padre de familia -->
        <div *ngIf="familia.padre"  class="card">
          <header class="card-header"> 
            <div class="card-header-title">
              Papá 
            </div>
          </header>
          <section class="card-content">
            <ul class="ul">
              <li> DNI : {{familia.padre.dni}} </li>
              <li> Apellidos : {{familia.padre.apellidos}} </li>
              <li> Nombre(s) : {{familia.padre.nombre}} </li>
              <li> Celular : {{familia.padre.celular }} </li>
              <li> Direccion : {{familia.padre.direccion }} </li>
              <li> Observaciones : {{familia.padre.nota}} </li>
            </ul>
          </section>
          <footer class="card-footer">
            <a  class="card-footer-item"  
                [routerLink] =  "['', {outlets: { 'popup':['padre','editar',familia._id] }}]" >
                <fa name="edit" size='2x'></fa> Editar
            </a>
          </footer>
        </div>
        <!-- fin de padre -->

        <!-- madre de familia -->
        <div *ngIf="familia.madre" class="card">
          <header class="card-header"> 
            <div class="card-header-title">
              Mamá 
            </div>
          </header>
          <div class="card-content">
            <ul class="ul">
              <li> DNI : {{familia.madre.dni}} </li>
              <li> Apellidos : {{familia.madre.apellidos}} </li>
              <li> Nombre(s) : {{familia.madre.nombre}} </li>
              <li> Celular : {{familia.madre.celular }} </li>
              <li> Direccion : {{familia.madre.direccion }} </li>
              <li> Observaciones : {{familia.madre.nota}} </li>
            </ul>
          </div>
          <footer class="card-footer">
            <a  class="card-footer-item"  
                [routerLink] =  "['', {outlets: { 'popup':['madre','editar',familia._id] } }]" >
                <fa name="edit" size='2x'></fa> Editar
            </a>
          </footer>
        </div>
        <!-- fin de madre -->

        <!-- padre de apoderado -->
        <div *ngIf="familia.apoderado" class="card">
            <header class="card-header"> 
                <div class="card-header-title">
                  apoderado 
                </div>
              </header>
              <div class="card-content">
                <ul class="ul">
                  <li> DNI : {{familia.apoderado.dni}} </li>
                  <li> Apellidos : {{familia.apoderado.apellidos}} </li>
                  <li> Nombre(s) : {{familia.apoderado.nombre}} </li>
                  <li> Celular : {{familia.apoderado.celular }} </li>
                  <li> Direccion : {{familia.apoderado.direccion }} </li>
                  <li> Relacion : {{familia.apoderado.relacion }} </li>
                  <li> Observaciones : {{familia.apoderado.nota}} </li>
                </ul>
              </div>
              <footer class="card-footer">
                <a  class="card-footer-item"  
                    [routerLink] =  "['', {outlets: { 'popup':['apoderado','editar',familia._id] } }]" >
                    <fa name="edit" size='2x'></fa> Editar
                </a>
              </footer>
        </div>
        <!-- fin de apoderado-->
  

      </section>
      <footer class="card-footer">
        <a class="card-footer-item" *ngIf="!familia.padre"
          [routerLink] =  "['', {outlets: { 'popup':['padre','editar',familia._id] }}]" >
          <fa name="plus" ></fa> Padre
        </a>

        <a class="card-footer-item" *ngIf="!familia.madre"
          [routerLink] =  "['', {outlets: { 'popup':['madre','editar',familia._id] }}]" >
          <fa name="plus" ></fa> Madre
        </a>

        <a class="card-footer-item" *ngIf="!familia.apoderado"
          [routerLink] =  "['', {outlets: { 'popup':['apoderado','editar',familia._id] }}]" >
          <fa name="plus" ></fa> Apoderado
        </a>
      </footer>
      
    </div>
  </div>
  <!--fin de papa y mama-->
  <!--  estudianates, hijos -->
  <div class="column">
    <app-estudiante-by-familia>

    </app-estudiante-by-familia>
  </div>
  <!-- fin de estudiantes-->
</div>